<?xml version="1.0"?>
<config>
	<modules>
		<Tansarc_EmailTemplateAdapter>
			<version>0.3.0</version>
		</Tansarc_EmailTemplateAdapter>
	</modules>
	<global>
        <blocks>
            <emailtemplateadapter>
                <class>Tansarc_EmailTemplateAdapter_Block</class>
            </emailtemplateadapter>
        </blocks>
		<models>
            <emailtemplateadapter>
                <class>Tansarc_EmailTemplateAdapter_Model</class>
            </emailtemplateadapter>
		    <core>
                <rewrite>
                    <email_template>Tansarc_EmailTemplateAdapter_Model_Email_Template_Adapter</email_template>
                    <email_template_filter>Tansarc_EmailTemplateAdapter_Model_Email_Template_Filter</email_template_filter>
                </rewrite>
            </core>

		</models>
		<helpers>
            <emailtemplateadapter>
                <class>Tansarc_EmailTemplateAdapter_Helper</class>
            </emailtemplateadapter>
        </helpers>
	</global>
	<admin>
        <routers>
	        <emailtemplateadapter>
	            <use>admin</use>
	            <args>
	                <module>Tansarc_EmailTemplateAdapter</module>
	                <frontName>emailtemplateadapter</frontName>
	            </args>
	        </emailtemplateadapter>
        </routers>
    </admin> 
	<adminhtml>
		<acl>
	        <resources>
	       		<all>
					<title>Allow Everything</title>
				</all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
		    	                <config>
	    	    	                <children>
	                                    <email_template_adapter translate="title" module="emailtemplateadapter">
	                                        <title>Email Template Adapter</title>
	                                    </email_template_adapter>
	                                </children>
								</config>	 
	                    	</children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	    <translate>
	        <modules>
	            <Tansarc_EmailTemplateAdapter>
	                <files>
	                    <default>Tansarc_EmailTemplateAdapter.csv</default>
	                </files>
	            </Tansarc_EmailTemplateAdapter>
	        </modules>
	    </translate>    
	</adminhtml>
    <default>
       <email_template_adapter>
            <adapter>
                <active>0</active>
            </adapter>
            <additional>
            	<variables>trans_email/ident_general/email</variables>
            </additional>
            <template>
                <active>0</active>
            </template>            
        </email_template_adapter>
    </default>
</config>